[workspace]
resolver = "2"
members = [
    "crates/e8-core",
    "crates/e8-cli",
]

[profile.release]
opt-level = 3
lto = "fat"
codegen-units = 1
strip = "symbols"
panic = "abort"

[profile.bench]
inherits = "release"
debug = true
strip = "none"
